.uiXeny-button {
    border-radius: var(--uiXeny-border-radius);
    border: none;
    outline: 0;
    cursor: pointer;
    box-shadow: var(--uiXeny-box-shadow-button);
    transition-duration: var(--uiXeny-transition-time);
    margin: 8px;
    width: fit-content;
}

.uiXeny-button:active {
    box-shadow: var(--uiXeny-box-shadow-event-around-5px);
}

.uiXeny-button--default {
    border: var(--uiXeny-border-1px);
    background-color: white;
}

.uiXeny-button--default:hover {
    border-color: var(--uiXeny-hover-color);
    color: var(--uiXeny-hover-color);
}

.uiXeny-button--default:active {
    border-color: var(--uiXeny-active-checked-color);
    color: var(--uiXeny-active-checked-color);
}

.uiXeny-button:focus-visible {
    box-shadow: var(--uiXeny-box-shadow-event-around-5px);
}

.uiXeny-button--primary {
    background-color: var(--uiXeny-main-color);
    color: white;
}

.uiXeny-button--primary:hover {
    background-color: var(--uiXeny-hover-color);
}

.uiXeny-button--primary:active {
    background-color: var(--uiXeny-active-color);
}

.uiXeny-button--link {
    color: var(--uiXeny-main-color);
    background-color: transparent;
    box-shadow: none;
}

.uiXeny-button--link:hover {
    color: var(--uiXeny-hover-color);
}

.uiXeny-button--link:active {
    color: var(--uiXeny-active-color);
    box-shadow: none;
}

.uiXeny-button--sizeSmall {
    padding: 4px 10px;
    font-size: small;
}

.uiXeny-button--sizeMedium {
    padding: 6px 16px;
    font-size: medium;
}

.uiXeny-button--sizeLarge {
    padding: 8px 22px;
    font-size: large;
}