.uiXeny-textArea {
    transition: background-color var(--uiXeny-transition-time);
    resize: vertical;
    padding: 16px;
    min-height: 52px;
    display: block;
}

.uiXeny-textArea__container {
    display: grid;
    width: 100%;
    position: relative;
}

.uiXeny-textArea__container__counter {
    color: var(--uiXeny-text-subdued-color);
    position: absolute;
    bottom: 15px;
    right: 15px;
}
