.uiXeny-icon {
    cursor: pointer;
    display: block;
}

.uiXeny-icon--sizeSmall {
    width: 16px;
    height: 20px;
}

.uiXeny-icon--sizeMedium {
    width: 20px;
    height: 26px;
}

.uiXeny-icon--sizeLarge {
    width: 24px;
    height: 32px;
}