.uiXeny-icon {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.uiXeny-icon--sizeSmall {
    width: 16px;
    height: 20px;
}

.uiXeny-icon--sizeMedium {
    width: 20px;
    height: 26px;
}

.uiXeny-icon--sizeLarge {
    width: 24px;
    height: 32px;
}

.uiXeny-icon svg path {
    stroke: var(--uiXeny-svg-color, black);
    transition: var(--uiXeny-transition-time);
}

.uiXeny-icon svg:hover path {
    stroke: var(--uiXeny-svg-hover-color, var(--uiXeny-svg-color, black));
}
