.calendar {
  width: 200px;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: var(--uiXeny-background-color-white);
  color: var(--uiXeny-text-color);
  border: none;
  padding: 0;
  outline: var(--uiXeny-border-1px);
  z-index: 7;
}

.calendar:focus{
  border: none;
}

.calendar__header {
  position: relative;
  border-radius: 5px 5px 0 0;
  color: var(--uiXeny-text-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--uiXeny-shadow-float-color);
}

.calendar__header__arrow__left {
  width: 5px;
  height: 10px;
  cursor: pointer;;
}

.calendar__header__arrow__right {
  width: 5px;
  height: 10px;
  cursor: pointer;
}

.calendar__body {
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.calendar__week__names {
  height: 20px;
  font-weight: 600;
  font-size: 8px;
  color: var(--color-additional);
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px 1px;
}

.calendar__days {
  font-size: 10px;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.calendar__day {
  border-radius: 5px;
  padding: 6px 0;
  cursor: pointer;
}

.calendar__day:hover {
  background-color: var(--uiXeny-primary-color);
}

.calendar__additional__day {
  padding: 6px;
  font-weight: 300;
  cursor: pointer;
  color: var(--color-placeholder);
}

.calendar__pick__item {
  padding: 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.calendar__pick__item:hover {
  background-color: var(--uiXeny-secondary-color);
}

.calendar__selected__item {
  color: var(--color-text);
  background-color: var(--uiXeny-secondary-color);
}
.calendar__selected__item:hover {
  background-color: var(--uiXeny-primary-color);
}

.calendar__pick__items__container {
  font-weight: 400;
  color: var(--uiXeny-text-color);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  font-size: 12px;
}

.calendar__unchoosable__year {
  font-weight: 300;
  padding: 9px 16px;
  color: var(--uiXeny-background-color-white);
}
