body {
    background-color: var(--uiXeny-background-color-body);
    color: var(--uiXeny-text-color);
}

:root {
    /* Основные цвета */
    --uiXeny-primary-color: #0570FF;
    --uiXeny-secondary-color: #3FA9FF;
    --uiXeny-main-color: #1677ff;
    --uiXeny-background-color-body: white;
    --uiXeny-disabled-color: lightgrey;
    --uiXeny-text-color: #333;
    --uiXeny-text-subdued-color: #00000073;
    --uiXeny-background-color-white: #fff;
    --uiXeny-background-color-grey: rgba(0, 0, 0, 0.04);
    --uiXeny-danger-color: rgba(255, 0, 23);
    --uiXeny-warning-color: rgb(243, 170, 0);
    --uiXeny-success-color: rgba(36, 173, 20);
    --uiXeny-svg-color: grey;

    /* Цвета для различных состояний и эффектов */
    --uiXeny-hover-color: #3FA9FFFF;
    --uiXeny-hover-color-black: rgba(0, 0, 0, .1);
    --uiXeny-danger-hover-color: rgb(255, 112, 127);
    --uiXeny-warning-hover-color: rgb(255, 208, 94);
    --uiXeny-success-hover-color: rgb(73, 208, 55);

    --uiXeny-active-checked-color: #1677ff;
    --uiXeny-active-color: #2E53F6FF;
    --uiXeny-danger-active-color: rgba(210, 0, 25);
    --uiXeny-warning-active-color: rgb(239, 164, 0);
    --uiXeny-success-active-color: rgba(36, 173, 20);

    --uiXeny-selected-color: rgba(63, 169, 255, 0.3);
    --uiXeny-svg-hover-color: #333;

    /* Цвета для теней */
    --uiXeny-shadow-color-1p: rgba(5, 145, 255, 0.1);
    --uiXeny-shadow-color-2p: rgba(5, 145, 255, 0.2);
    --uiXeny-shadow-danger-color-2p: rgba(210, 0, 25, 0.2);
    --uiXeny-shadow-warning-color-2p: rgba(255, 179, 0, 0.2);
    --uiXeny-shadow-success-color-2p: rgba(36, 173, 20, 0.2);
    --uiXeny-shadow-color-dark: rgba(0, 0, 0, 0.17);
    --uiXeny-shadow-color-light: rgba(0, 0, 0, 0.1);
    --uiXeny-shadow-color: rgba(0, 0, 0, 0.06);


    --uiXeny-shadow-float-color: rgba(0, 0, 0, 0.13);
    --uiXeny-shadow-float-color-hover: rgba(63, 169, 255, 0.2);
    --uiXeny-shadow-float-color-active: rgba(46, 83, 246, 0.2);
    --uiXeny-shadow-float-color-dark: rgba(0, 0, 0, 0.17);
    --uiXeny-shadow-float-color-dark-hover: rgba(63, 169, 255, 0.24);
    --uiXeny-shadow-float-color-dark-active: rgba(46, 83, 246, 0.24);
    --uiXeny-shadow-float-color-light: rgba(0, 0, 0, 0.1);
    --uiXeny-shadow-float-color-light-hover: rgba(63, 169, 255, 0.2);
    --uiXeny-shadow-float-color-light-active: rgba(46, 83, 246, 0.2);

    --uiXeny-shadow-float-color-danger: rgba(210, 0, 25, 0.13);
    --uiXeny-shadow-float-color-hover-danger: rgba(210, 0, 25, 0.2);
    --uiXeny-shadow-float-color-active-danger: rgba(210, 0, 25, 0.2);
    --uiXeny-shadow-float-color-dark-danger: rgba(210, 0, 25, 0.17);
    --uiXeny-shadow-float-color-dark-hover-danger: rgba(210, 0, 25, 0.24);
    --uiXeny-shadow-float-color-dark-active-danger: rgba(210, 0, 25, 0.24);
    --uiXeny-shadow-float-color-light-danger: rgba(210, 0, 25, 0.1);
    --uiXeny-shadow-float-color-light-hover-danger: rgba(210, 0, 25, 0.2);
    --uiXeny-shadow-float-color-light-active-danger: rgba(210, 0, 25, 0.2);

    --uiXeny-shadow-float-color-warning: rgba(255, 179, 0, 0.13);
    --uiXeny-shadow-float-color-hover-warning: rgba(255, 179, 0, 0.2);
    --uiXeny-shadow-float-color-active-warning: rgba(255, 179, 0, 0.2);
    --uiXeny-shadow-float-color-dark-warning: rgba(255, 179, 0, 0.17);
    --uiXeny-shadow-float-color-dark-hover-warning: rgba(255, 179, 0, 0.24);
    --uiXeny-shadow-float-color-dark-active-warning: rgba(255, 179, 0, 0.24);
    --uiXeny-shadow-float-color-light-warning: rgba(255, 179, 0, 0.1);
    --uiXeny-shadow-float-color-light-hover-warning: rgba(255, 179, 0, 0.2);
    --uiXeny-shadow-float-color-light-active-warning: rgba(255, 179, 0, 0.2);

    --uiXeny-shadow-float-color-success: rgba(36, 173, 20, 0.13);
    --uiXeny-shadow-float-color-hover-success: rgba(36, 173, 20, 0.2);
    --uiXeny-shadow-float-color-active-success: rgba(36, 173, 20, 0.2);
    --uiXeny-shadow-float-color-dark-success: rgba(36, 173, 20, 0.17);
    --uiXeny-shadow-float-color-dark-hover-success: rgba(36, 173, 20, 0.24);
    --uiXeny-shadow-float-color-dark-active-success: rgba(36, 173, 20, 0.24);
    --uiXeny-shadow-float-color-light-success: rgba(36, 173, 20, 0.1);
    --uiXeny-shadow-float-color-light-hover-success: rgba(36, 173, 20, 0.2);
    --uiXeny-shadow-float-color-light-active-success: rgba(36, 173, 20, 0.2);


    /* Дополнительные цвета для специфических элементов */
    --uiXeny-checkbox-icon-event-background-color: #0591FF33;
    --uiXeny-toggle-switch-unchecked-hover-color: darkgrey;
    --uiXeny-toggle-switch-unchecked-color: #ccc;

    --uiXeny-box-shadow-float: 0 6px 16px 0 var(--uiXeny-shadow-float-color), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light);
    --uiXeny-box-shadow-float-active: 0 6px 16px 0 var(--uiXeny-shadow-float-color-active), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-active), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active);
    --uiXeny-box-shadow-float-hover: 0 6px 16px 0 var(--uiXeny-shadow-float-color-dark-hover), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-hover), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active);

    --uiXeny-box-shadow-float-danger: 0 6px 16px 0 var(--uiXeny-shadow-float-color-danger), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-danger), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-danger);
    --uiXeny-box-shadow-float-active-danger: 0 6px 16px 0 var(--uiXeny-shadow-float-color-active-danger), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-active-danger), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active-danger);
    --uiXeny-box-shadow-float-hover-danger: 0 6px 16px 0 var(--uiXeny-shadow-float-color-dark-hover-danger), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-hover-danger), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active-danger);

    --uiXeny-box-shadow-float-warning: 0 6px 16px 0 var(--uiXeny-shadow-float-color-warning), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-warning), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-warning);
    --uiXeny-box-shadow-float-active-warning: 0 6px 16px 0 var(--uiXeny-shadow-float-color-active-warning), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-active-warning), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active-warning);
    --uiXeny-box-shadow-float-hover-warning: 0 6px 16px 0 var(--uiXeny-shadow-float-color-dark-hover-warning), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-hover-warning), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active-warning);

    --uiXeny-box-shadow-float-success: 0 6px 16px 0 var(--uiXeny-shadow-float-color-success), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-success), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-success);
    --uiXeny-box-shadow-float-active-success: 0 6px 16px 0 var(--uiXeny-shadow-float-color-active-success), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-active-success), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active-success);
    --uiXeny-box-shadow-float-hover-success: 0 6px 16px 0 var(--uiXeny-shadow-float-color-dark-hover-success), 0 3px 6px -4px var(--uiXeny-shadow-float-color-dark-hover-success), 0 9px 28px 8px var(--uiXeny-shadow-float-color-light-active-success);

    /* Границы компонентов */
    --uiXeny-border-color: #AFC1D0FF; /* Универсальный цвет границ */

    --uiXeny-border-1px: 1px solid var(--uiXeny-border-color);
    --uiXeny-border-2px-focus: 1px solid var(--uiXeny-border-color);
    --uiXeny-border-2px: 2px solid var(--uiXeny-border-color);

    --uiXeny-border-radius: 5px;

    /* Тени */
    --uiXeny-box-shadow-event-around-5px: 0px 0px 0px 5px var(--uiXeny-shadow-color-2p);
    --uiXeny-box-shadow-event-danger-around-5px: 0px 0px 0px 5px var(--uiXeny-shadow-danger-color-2p);
    --uiXeny-box-shadow-event-warning-around-5px: 0px 0px 0px 5px var(--uiXeny-shadow-warning-color-2p);
    --uiXeny-box-shadow-event-success-around-5px: 0px 0px 0px 5px var(--uiXeny-shadow-success-color-2p);
    --uiXeny-box-shadow-event-around-4px: 0px 0px 0px 4px var(--uiXeny-shadow-color-2p);
    --uiXeny-box-shadow-event-around-2px: 0px 0px 0px 2px var(--uiXeny-shadow-color-2p);
    --uiXeny-box-shadow-bottom: 0 2px 0 var(--uiXeny-shadow-color-1p);
    --uiXeny-box-shadow-button: 0 2px 0 var(--uiXeny-shadow-color-1p);
    --uiXeny-box-shadow: 3px 3px 10px 6px var(--uiXeny-shadow-color);


    /* Время анимации переходов */
    --uiXeny-transition-time: 0.2s;
}
